caption{
    border: 4px solid black;
}
.number-header{
    color: rgb(134, 0, 139);
}
#full-name{
    color: blue;
}
[type="button_new"]{
    border: 4px solid rgb(240, 60, 60);
}
.table-body{
    color: gray;
}
.table-body > tr > td[rowspan="2"] {
    color: rgb(44, 211, 58);
}